body, #root {
    min-height: 100vh;
    background-color: #ffffff; /* Light grey background */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.app-container {
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px; /* Adjust this value based on the height of your BottomNavBar */
  max-width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.main-heading {
  font-family: 'Avant Garde', sans-serif, bold;
  font-size: 2.5rem;
  color: #000000;
  text-align: left;
  /* text-transform: uppercase; */
  margin-top: 5px;
  margin-bottom: 5px;
  z-index: 100;
}

.sub-heading {
    font-family: 'Avant Garde', sans-serif, bold;
    font-size: 2rem;
    color: #323232;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
    z-index: 100;
  }

  .text-center {
    font-family: 'Avant Garde', sans-serif, bold;
    font-size: 1rem;
    color: #989898;
    text-align: left;
    margin-top: 0; /* Remove top margin */
    margin-bottom: 0; /* Remove bottom margin */
    z-index: 100;
  }

  .collection-heading {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto; 
    margin-bottom: 30px;
    padding: 3px;
    background: rgba(0, 0, 0, 0);
    max-width: 600px;
    transform: translateX(0);
    z-index: 100;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width */
  }


.road {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: -50px;
  width: 60px;
  background-color: #333;
  transform: translateX(-50%);
  z-index: 10;
  overflow: hidden;
}

/* Add center line */
.road::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 1.5px;
  height: 100%;
  background-size: 100% 20px;
  background-color: #ffff0075; /* Yellow center line */
  transform: translateX(-50%);
}


/* Magnifying glass button styles */
.search-button {
  position: fixed;
  top: 15px;
  right: 20px;
  width: 50px;  /* Increase from 40px to 50px */
  height: 50px; /* Increase from 40px to 50px */
  background-color: #ffffff;
  border: 2px solid #333333;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  z-index: 1000;
}

.search-button:hover {
  background-color: #f0f0f0;
}

.search-button::before {
  content: '';
  width: 15px;  /* Increase from 16px to 20px */
  height: 15px; /* Increase from 16px to 20px */
  border: 2px solid #000000;
  border-radius: 50%;
  position: absolute;
  top: 10px;    /* Adjust from 8px to 10px */
  left: 10px;   /* Adjust from 8px to 10px */
}

.search-button::after {
  content: '';
  width: 2px;
  height: 12px; /* Increase from 10px to 12px */
  background-color: #000000;
  position: absolute;
  bottom: 12px; /* Adjust from 8px to 10px */
  right: 14px;  /* Adjust from 10px to 12px */
  transform: rotate(-52deg);
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px; /* Adjust this value as needed */
  margin: 0 auto 20px;
  padding: 0 20px; /* Add some horizontal padding */
  box-sizing: border-box;
  z-index: 10;
  position: relative;
}

.nav-button {
  flex: 1;
  padding: 10px 0;
  font-size: 16px;
  background-color: #71c7fd;
  color: #000000;
  border: 0;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Avant Garde', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 10px; /* Add some horizontal margin */
  min-width: 0; /* Allow buttons to shrink below their content size */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width */
}

.nav-button:hover {
  background-color: #25a4f9;
  color: #000000;
}

.nav-button:active {
  transform: scale(0.95);
}

.nav-button.active {
  outline: 2px solid #000000;
}

@media (max-width: 480px) {
  .nav-button {
    font-size: 14px; /* Smaller font size for very small screens */
  }
}

.category-dropdown {
  width: 96%;
  padding: 10px 20px;
  left: 50%;
  transform: translateX(2%);
  font-size: 15px;
  text-align: center;
  border: 2px solid #000000;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: #71c7fd;
  color: #000000;
  border-radius: 25px;
  font-family: 'Avant Garde', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;
}

.category-dropdown:hover {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #25a4f9;
  
}


.category-dropdown option {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #71c7fd;
  color: #000000;
  font-size: 14px;
  padding: 10px;
}

.category-dropdown option:hover,
.category-dropdown option:focus,
.category-dropdown option:active,
.category-dropdown option:checked {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #71c7fd;
  color: #ffffff;
}


.events-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.calendar-container {
  margin-bottom: 20px;
}

.events-list {
  width: 100%;
  max-width: 600px;
}

.event-item {
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin-bottom: 30px;
}

